In [ ]:
a = [5,2,2,3,"Arjun" , "Minaal","Sayam ,","Saiyam"]
print(a[::-1])

[]

In [15]:
print(a[0:len(a):2])

[5, 2, 'Arjun', 'Sayam ,']

List Methods

In [41]:
fruits= ["Apple","banana","orange","guava"]
print(fruits)
# fruits.append("apple")
# fruits.pop()
# print(fruits.index("Apple"))
# fruits[3]= fruits[3].upper()
fruits.clear()
# print(fruits.count("Apple"))
# fruits.sort()
print(fruits)

['Apple', 'banana', 'orange', 'guava']
[]

<!-- LIST SLICING -->

In [49]:
numbers=[1,2,3,4,5,6,7,8,9,10]
print(numbers[::]) ## double colon means all the elements.
print(numbers[::2])
print(numbers[::-1])

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[1, 3, 5, 7, 9]
[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

Iterating a LIST

In [50]:
for number in numbers:
    print(number)

1
2
3
4
5
6
7
8
9
10

In [56]:
# Iterating with Index 
for index , number in enumerate(numbers):
    print(index ," " ,number)

0   1
1   2
2   3
3   4
4   5
5   6
6   7
7   8
8   9
9   10

##### LIST COMPREHENSION
Basic syntax: [ EXPRESION for item in iterable ]

with conditions [EXPRESSION for item in iterable IF condition]

In [62]:
square = [i**2 for i in range(10)]
print(square)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [64]:
evenNumber= [num for num in range(10) if num%2==0]
print(evenNumber)

[0, 2, 4, 6, 8]

#### Nested List Comprehension
[EXPRESSION for i in iterable   for j in iterable]

In [ ]:
a = [(i,j)  for i in [1,2,3,4,5] for j in ["a","b","c","d","e"]]
print(a)

[(1, 'a'), (1, 'b'), (1, 'c'), (1, 'd'), (1, 'e'), (2, 'a'), (2, 'b'), (2, 'c'), (2, 'd'), (2, 'e'), (3, 'a'), (3, 'b'), (3, 'c'), (3, 'd'), (3, 'e'), (4, 'a'), (4, 'b'), (4, 'c'), (4, 'd'), (4, 'e'), (5, 'a'), (5, 'b'), (5, 'c'), (5, 'd'), (5, 'e')]

In [ ]:
a= 1
print(a)