### List is mutable whereas tuple is immutable


#### note:
done use list and tuple as names for the same data type

# TUPLES

In [2]:
my_tuple = tuple([1,2,3,3,4,5]) ## list to tuple 
print(my_tuple)

(1, 2, 3, 3, 4, 5)

In [10]:
## Accesssing tuple elements

print(my_tuple[::-2])

## concatinate tuupes 
tup1= (1,2,3,4,5,5)
tup2= ("Arjun","loveena",True)
newTup=tup1 + tup2
print(newTup)

(5, 3, 2)
(1, 2, 3, 4, 5, 5, 'Arjun', 'loveena', True)

In [48]:
# Immutable nature of Tuples 
list = [1,2,3,4,5]
print(list)
list[-1]= True
print(list)


tup = (12,3,4,5,5)
print(tup)

# tuple[-1]= False ## this will give error 
print(tup)

[1, 2, 3, 4, 5]
[1, 2, 3, 4, True]
(12, 3, 4, 5, 5)
(12, 3, 4, 5, 5)

In [20]:
## TUPLE METHODS
numbers = (1,2,3,4,5,6,1)
print(numbers.count(1))
print(numbers.index(1))

2
0

## packing and unpacking tuples

In [32]:
## paking tupes 
packed_tuple = 1,"Arjun" , True,"Loveena" , 5
print(packed_tuple)

## unpacking tuple 
a,b,c,d,e= packed_tuple
print(a) 
print(b) 
print(c) 
print(d) 
print(e)

(1, 'Arjun', True, 'Loveena', 5)
1
Arjun
True
Loveena
5

In [33]:

## unpacking with star
first , *rest, last =packed_tuple
print(first)
print(rest)
print(last)

1
['Arjun', True, 'Loveena']
5

### Nested tuples

In [55]:
 
## nested list 
my_list = [[1,2,3],[4,5,6],[7,8,9]]
print(len(my_list))
print(len(my_list[0]))
list2= [[my_list[i][j]+1  for j in range(len(my_list[0]))] for i in range(len(my_list))]
print(my_list)
print(list2)

3
3
[[1, 2, 3], [4, 5, 6], [7, 8, 9]]
[[2, 3, 4], [5, 6, 7], [8, 9, 10]]

In [57]:
## nest  tuples 
tup  = (1,2,3,4,5)
tup2= (num**2  for num in tup ) #this is a generator object
tup2 = tuple(i**2 for i in tup) # this is how to create a tuple using generator object
print(tup)
print(tup2)

TypeError: 'tuple' object is not callable