# Dataframe

In [ ]:
import pandas as pd 
movies = pd.read_csv("movies.csv")
movies.head(5)

In [ ]:
ipl = pd.read_csv("ipl-matches.csv")
ipl

In [ ]:
ipl.shape
ipl.dtypes

In [ ]:
ipl.index
title = ipl.iloc[:,1]
title
ipl.info()

In [ ]:
ipl.isnull().sum()
ipl.duplicated().sum()

In [ ]:
movies.head(2)
movies.rename(columns={"summary":"storyline" , "actors":"cast"},inplace=True)
movies

In [ ]:
type(movies)

In [ ]:
ipl.head(1)

## row indexing 
print(ipl.iloc[0:1])
# print(ipl.iloc[0:5])

In [ ]:
pp = ipl["Player_of_Match"]
# pp.value_counts().head(10).plot(kind="pie")
wt = ipl["WinningTeam"]
wt.value_counts().plot(kind="bar")

In [ ]:
mno= ipl[["MatchNumber","WinningTeam"]]
win = mno["MatchNumber"]
mno[win=="Final"]
((ipl[ipl["MatchNumber"] =="Final"])["WinningTeam"]).value_counts()
# mno[mno=="Final"].count()
ipl.loc[0:3,"WinningTeam"]

## Data Filtering:

In [ ]:
## ipl 

# find all the final winners 
ipl.head(2)
ipl["MatchNumber"]=="Final"
ipl[ipl["MatchNumber"]=="Final"][["Season","WinningTeam"]]

In [ ]:
## how many super over finnishes have occured
ipl
ipl[ipl["SuperOver"]=="Y"][["Team1","Team2", "WinningTeam"]]

In [ ]:
## how many match has csk won in kolkata
ipl[(ipl["City"]=="Kolkata") & (ipl["WinningTeam"]=="Chennai Super Kings")].shape[0]

In [ ]:
# toss winner is the match winner in percentage
(ipl[ipl["TossWinner"]==ipl["WinningTeam"]].shape[0]  *100)/ipl.shape[0]

In [ ]:
# movies rating > 7.5 and genere Action 
movies[(movies["genres"].str.split("|").apply(lambda x:"Action" in x)) & (movies["imdb_rating"]>7.5)]

In [ ]:
# adding a new column 
movies["Country"]= "India"

In [ ]:
movies.dropna() ## remove the null values

In [216]:
# movies.info()



## chaning data type
movies["is_adult"]=movies["is_adult"].astype("int32")
movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1629 entries, 0 to 1628
Data columns (total 19 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   title_x           1629 non-null   object
 1   imdb_id           1629 non-null   object
 2   poster_path       1526 non-null   object
 3   wiki_link         1629 non-null   object
 4   title_y           1629 non-null   object
 5   original_title    1629 non-null   object
 6   is_adult          1629 non-null   int32
 7   year_of_release   1629 non-null   int64
 8   runtime           1629 non-null   object
 9   genres            1629 non-null   object
 10  imdb_rating       1629 non-null   float64
 11  imdb_votes        1629 non-null   int64
 12  story             1609 non-null   object
 13  storyline         1629 non-null   object
 14  tagline           557 non-null    object
 15  cast              1624 non-null   object
 16  wins_nominations  707 non-null    object
 17  release_date      1522 non-null   object
 18  Country           1629 non-null   object
dtypes: float64(1), int32(1), int64(2), object(15)
memory usage: 235.6+ KB

In [218]:
ipl.tail()

,ID,City,Date,Season,MatchNumber,Team1,Team2,Venue,TossWinner,TossDecision,SuperOver,WinningTeam,WonBy,Margin,method,Player_of_Match,Team1Players,Team2Players,Umpire1,Umpire2
945,335986,Kolkata,2008-04-20,2007/08,4,Kolkata Knight Riders,Deccan Chargers,Eden Gardens,Deccan Chargers,bat,N,Kolkata Knight Riders,Wickets,5.0,NaN,DJ Hussey,"['WP Saha', 'BB McCullum', 'RT Ponting', 'SC G...","['AC Gilchrist', 'Y Venugopal Rao', 'VVS Laxma...",BF Bowden,K Hariharan
946,335985,Mumbai,2008-04-20,2007/08,5,Mumbai Indians,Royal Challengers Bangalore,Wankhede Stadium,Mumbai Indians,bat,N,Royal Challengers Bangalore,Wickets,5.0,NaN,MV Boucher,"['L Ronchi', 'ST Jayasuriya', 'DJ Thornely', '...","['S Chanderpaul', 'R Dravid', 'LRPL Taylor', '...",SJ Davis,DJ Harper
947,335984,Delhi,2008-04-19,2007/08,3,Delhi Daredevils,Rajasthan Royals,Feroz Shah Kotla,Rajasthan Royals,bat,N,Delhi Daredevils,Wickets,9.0,NaN,MF Maharoof,"['G Gambhir', 'V Sehwag', 'S Dhawan', 'MK Tiwa...","['T Kohli', 'YK Pathan', 'SR Watson', 'M Kaif'...",Aleem Dar,GA Pratapkumar
948,335983,Chandigarh,2008-04-19,2007/08,2,Kings XI Punjab,Chennai Super Kings,"Punjab Cricket Association Stadium, Mohali",Chennai Super Kings,bat,N,Chennai Super Kings,Runs,33.0,NaN,MEK Hussey,"['K Goel', 'JR Hopes', 'KC Sangakkara', 'Yuvra...","['PA Patel', 'ML Hayden', 'MEK Hussey', 'MS Dh...",MR Benson,SL Shastri
949,335982,Bangalore,2008-04-18,2007/08,1,Royal Challengers Bangalore,Kolkata Knight Riders,M Chinnaswamy Stadium,Royal Challengers Bangalore,field,N,Kolkata Knight Riders,Runs,140.0,NaN,BB McCullum,"['R Dravid', 'W Jaffer', 'V Kohli', 'JH Kallis...","['SC Ganguly', 'BB McCullum', 'RT Ponting', 'D...",Asad Rauf,RE Koertzen