## Pandas :

In [ ]:
pip install pandas

In [ ]:
import pandas as pd 
## series  is a one d array like object
data = [1,2,3,4,4,2] 
series = pd.Series(data)
print(series)

In [ ]:
# from dict
my_dict = { 'a':1,'b':2,'c':3}
series = pd.Series(my_dict)
# print(series)

index = ["a","b","c"]
values = [1,2,3]
print(pd.Series(values , index=index))

In [ ]:
## data frame ->  has multiple rows and column 
data = { 
    "Name":["arjun","sahil","sayam"],
    "Age" : [20,21,19],
    "City": ["Sujanpur","Pathankot","Kapurthala"]
}
df = pd.DataFrame(data)
df.dtypes

In [ ]:
# read a csv file 

df1=pd.read_csv('practice.csv', encoding='windows-1252')
df1.head(5)
df1.tail(5)

In [ ]:
# label based indexing 
print(df)
df.loc[2]

In [ ]:
df.iloc[0]  # integer based indexing

In [ ]:
df.at[2,"Age"]
df.iat[2,2]

In [ ]:
df
df["salary"]= [2000,20,2000]  # adding a column
df

# removing a cloumn

df.drop('salary', axis=1) # to make permatent changes werite inplace = "true
df

df.drop("salary", axis = 1, inplace=True)
df

In [ ]:
df["Age"] = df["Age"]+1
df1["Name"]=df1["Name"].str.lower()
df1

In [123]:
df1.describe() ## statiscal summary

,Emp ID,Monthly Salary,Bonus %,Hours Worked,Monthly Sales,Defect Rate (%)
count,50.00000,46.000000,47.000000,50.00000,12.000000,8.000000
mean,325.50000,114884.543478,12.234043,173.64000,216054.166667,2.752500
std,14.57738,37475.911632,5.595855,16.36043,152894.014384,1.263959
min,301.00000,45546.000000,5.000000,140.00000,51402.000000,1.430000
25%,313.25000,88901.000000,5.000000,161.75000,84866.250000,1.807500
50%,325.50000,118601.500000,15.000000,176.50000,181912.500000,2.165000
75%,337.75000,142235.000000,15.000000,188.00000,311835.000000,4.110000
max,350.00000,178023.000000,20.000000,197.00000,480197.000000,4.370000