In [ ]:
# value_counts
# sort_values
# rank
# sort index
# set index
# rename index -> rename
# reset index
# unique & nunique
# isnull/notnull/hasnans
# dropna
# fillna
# drop_duplicates
# drop
# apply
# isin
# corr
# nlargest -> nsmallest
# insert
# copy

### More Important Functions

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
a = pd.Series([1,1,1,2,2,3])
a.value_counts()

In [ ]:
# value_counts(series and dataframe)


marks = pd.DataFrame([
    [100,80,10],
    [90,70,7],
    [120,100,14],
    [80,70,14],
    [80,70,14]
],columns=['iq','marks','package'])

marks

In [ ]:
marks.value_counts()

In [ ]:
ipl = pd.read_csv('ipl-matches.csv')
ipl[~ipl['MatchNumber'].str.isdigit()]['Player_of_Match'].value_counts()

In [ ]:
# find which player has won most potm -> in finals and qualifiers

In [ ]:
# Toss decision plot
ipl['TossDecision'].value_counts().plot(kind='pie')

In [ ]:
# how many matches each team has played
(ipl['Team2'].value_counts() + ipl['Team1'].value_counts()).sort_values(ascending=False)

In [ ]:
# sort_values(series and dataframe) -> ascending -> na_position -> inplace -> multiple cols

In [ ]:
x = pd.Series([12,14,1,56,89])
x

In [ ]:
x.sort_values(ascending=False)

In [ ]:
movies = pd.read_csv('movies.csv')
movies.head(4)

In [ ]:
movies.sort_values('title_x',ascending=False)

In [ ]:
students = pd.DataFrame(
    {
        'name':['nitish','ankit','rupesh',np.nan,'mrityunjay',np.nan,'rishabh',np.nan,'aditya',np.nan],
        'college':['bit','iit','vit',np.nan,np.nan,'vlsi','ssit',np.nan,np.nan,'git'],
        'branch':['eee','it','cse',np.nan,'me','ce','civ','cse','bio',np.nan],
        'cgpa':[6.66,8.25,6.41,np.nan,5.6,9.0,7.4,10,7.4,np.nan],
        'package':[4,5,6,np.nan,6,7,8,9,np.nan,np.nan]

    }
)

students

In [ ]:
students.sort_values('name',na_position='first',ascending=False,inplace=True)

In [ ]:
students

In [ ]:
movies.sort_values(['year_of_release','title_x'],ascending=[True,False])

In [ ]:
# rank(series)
batsman = pd.read_csv('batsman_runs_ipl.csv')
batsman.head()

In [ ]:
batsman['batting_rank'] = batsman['batsman_run'].rank(ascending=False)
batsman.sort_values('batting_rank')

In [ ]:
# sort_index(series and dataframe)

In [ ]:
marks = {
    'maths':67,
    'english':57,
    'science':89,
    'hindi':100
}

marks_series = pd.Series(marks)
marks_series

In [ ]:
marks_series.sort_index(ascending=False)

In [ ]:
movies.sort_index(ascending=False)

In [ ]:
# set_index(dataframe) -> inplace
batsman.set_index('batter',inplace=True)

In [ ]:
batsman

In [ ]:
# reset_index(series + dataframe) -> drop parameter
batsman.reset_index(inplace=True)

In [ ]:
batsman

In [ ]:
# how to replace existing index without loosing
batsman.reset_index().set_index('batting_rank')

In [ ]:
# series to dataframe using reset_index
marks_series.reset_index()

In [ ]:
# rename(dataframe) -> index

In [ ]:
movies.set_index('title_x',inplace=True)

In [ ]:
movies.rename(columns={'imdb_id':'imdb','poster_path':'link'},inplace=True)

In [ ]:
movies.rename(index={'Uri: The Surgical Strike':'Uri','Battalion 609':'Battalion'})

In [ ]:
# unique(series)
temp = pd.Series([1,1,2,2,3,3,4,4,5,5,np.nan,np.nan])
print(temp)

In [ ]:
len(temp.unique())

In [ ]:
temp.nunique()

In [ ]:
len(ipl['Season'].unique())

In [ ]:
# nunique(series + dataframe) -> does not count nan -> dropna parameter
ipl['Season'].nunique()

In [ ]:
# isnull(series + dataframe)
students['name'][students['name'].isnull()]

In [ ]:
# notnull(series + dataframe)
students['name'][students['name'].notnull()]

In [ ]:
# hasnans(series)
students['name'].hasnans

In [ ]:
students

In [ ]:
students.isnull()

In [ ]:
students.notnull()

In [ ]:
# dropna(series + dataframe) -> how parameter -> works like or
students['name'].dropna()

In [ ]:
students

In [28]:
students.dropna(how='any')

      name college branch  cgpa  package
2   rupesh     vit    cse  6.41      6.0
6  rishabh    ssit    civ  7.40      8.0
0   nitish     bit    eee  6.66      4.0
1    ankit     iit     it  8.25      5.0

In [29]:
students.dropna(how='all')

         name college branch   cgpa  package
5         NaN    vlsi     ce   9.00      7.0
7         NaN     NaN    cse  10.00      9.0
9         NaN     git    NaN    NaN      NaN
2      rupesh     vit    cse   6.41      6.0
6     rishabh    ssit    civ   7.40      8.0
0      nitish     bit    eee   6.66      4.0
4  mrityunjay     NaN     me   5.60      6.0
1       ankit     iit     it   8.25      5.0
8      aditya     NaN    bio   7.40      NaN

In [30]:
students.dropna(subset=['name'])

         name college branch  cgpa  package
2      rupesh     vit    cse  6.41      6.0
6     rishabh    ssit    civ  7.40      8.0
0      nitish     bit    eee  6.66      4.0
4  mrityunjay     NaN     me  5.60      6.0
1       ankit     iit     it  8.25      5.0
8      aditya     NaN    bio  7.40      NaN

In [ ]:
students.dropna(subset=['name','college'])

In [ ]:
students.dropna(inplace=True)

In [ ]:
# fillna(series + dataframe)
students['name'].fillna('unknown')

In [ ]:
students

In [ ]:
students['package'].fillna(students['package'].mean())

In [ ]:
students['name'].fillna(method='bfill')

In [ ]:
# drop_duplicates(series + dataframe) -> works like and -> duplicated()

In [ ]:
temp = pd.Series([1,1,1,2,3,3,4,4])
temp.drop_duplicates()

In [ ]:
marks.drop_duplicates(keep='last')

In [ ]:
# find the last match played by virat kohli in Delhi
ipl['all_players'] = ipl['Team1Players'] + ipl['Team2Players']
ipl.head()

In [ ]:
def did_kohli_play(players_list):
  return 'V Kohli' in players_list

In [ ]:
ipl['did_kohli_play'] = ipl['all_players'].apply(did_kohli_play)
ipl[(ipl['City'] == 'Delhi') & (ipl['did_kohli_play'] == True)].drop_duplicates(subset=['City','did_kohli_play'],keep='first')

In [ ]:
students.drop_duplicates()

In [ ]:
# drop(series + dataframe)
temp = pd.Series([10,2,3,16,45,78,10])
temp

In [ ]:
temp.drop(index=[0,6])

In [ ]:
students

In [ ]:
students.drop(columns=['branch','cgpa'],inplace=True)

In [ ]:
students.set_index('name').drop(index=['nitish','aditya'])

In [ ]:
# apply(series + dataframe)
temp = pd.Series([10,20,30,40,50])

temp

In [ ]:
def sigmoid(value):
  return 1/1+np.exp(-value)

In [ ]:
temp.apply(sigmoid)

In [ ]:
points_df = pd.DataFrame(
    {
        '1st point':[(3,4),(-6,5),(0,0),(-10,1),(4,5)],
        '2nd point':[(-3,4),(0,0),(2,2),(10,10),(1,1)]
    }
)

points_df

In [ ]:
def euclidean(row):
  pt_A = row['1st point']
  pt_B = row['2nd point']

  return ((pt_A[0] - pt_B[0])**2 + (pt_A[1] - pt_B[1])**2)**0.5

In [ ]:
points_df['distance'] = points_df.apply(euclidean,axis=1)
points_df

In [ ]:
# isin(series)

In [ ]:
# corr

In [ ]:
# nlargest and nsmallest(series and dataframe)

In [ ]:
# insert(dataframe)

In [ ]:
# copy(series + dataframe)