## Series Tricks

In [22]:
import pandas as pd 
import numpy as np
vk=pd.read_csv("kohli_ipl.csv").loc[:,"runs"]
subs = pd.read_csv('subs.csv').iloc[:,0]

In [17]:
subs
## as type 
import sys 
sys.getsizeof(vk)

1884

In [18]:
sys.getsizeof(vk.astype("int32"))

1024

In [19]:
# between 
vk[vk.between(0,50)].size

167

In [20]:
# drop_duplicates  (even if one value in the row is a duplicate)
vk.drop_duplicates()
vk.duplicated()

0      False
1      False
2      False
3      False
4       True
       ...
210     True
211     True
212     True
213     True
214     True
Name: runs, Length: 215, dtype: bool

In [23]:
temp = pd.Series([1,2,3,4,np.nan, 5,6,np.nan,np.nan,9])
temp

0    1.0
1    2.0
2    3.0
3    4.0
4    NaN
5    5.0
6    6.0
7    NaN
8    NaN
9    9.0
dtype: float64

In [30]:
temp.size  ## even counts empty values 
temp.count() ## does not count empty values 
temp.isnull().sum()

np.int64(3)

In [34]:
## remove all missing values in one go 
temp.dropna().size
temp
## replace missing value 
temp.fillna(0)

0    1.0
1    2.0
2    3.0
3    4.0
4    0.0
5    5.0
6    6.0
7    0.0
8    0.0
9    9.0
dtype: float64

In [ ]:
vk[vk.isin([2,3,11])] ## to check multiple elements in the series

9       3
12      3
13     11
15      2
25      2
34      3
49     11
66      3
75     11
157     3
Name: runs, dtype: int64

In [52]:
## 
n = "Arjun Chandel"
def firstname(n):
    l = n.split() 
    return l [0]

print(firstname(n))

Arjun

In [ ]:
## note  ,if we make changes int using the head or the tail , it will reflect back on the original data as well
## because head and tail returns the view of the data and not a copy of the data 
# always use vk.head().copy()